@import "variables";

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: $white;
	font-family: $font-family;
	border-top: 30px solid $primary;
}

.wrap {
	width: 90%;
	max-width: 500px;
	padding: auto;
	margin: auto;
	background: #fff;
	box-shadow: 0px 0px 3px grey;
}

.contenedor-formulario {
	width: 100%;
	color: $white;
	padding: 50px;

	.formulario {
		width: 100%;
		margin: auto;

		.input-group {
			position: relative;
			margin-bottom: 32px;

			input[type="text"], input[type="email"], input[type="password"] {
				font-family: $font-family;
				font-size: 16px;
				color: $primary;
				width: 100%;
				outline: none;
				padding: 15px;
				background: none;
				border: none;
				border-bottom: $border solid $primary;

				&:focus, &:active {
					outline: none;
					border-bottom: $border solid $primary;
				}

				&.error {
					border-bottom: $border solid $error;
					+ label {
						color: $error;
					}
				}
			}

			label {
				color: $primary;
				&.label {
					position: absolute;
					top: 16px;
					left: 0;
					font-size: 16px;
					line-height: 16px;
					margin-left: 16px;
					transition: all .3s ease;

					&.active {
						top: -12px;
						font-size: 12px;
						line-heigth: 12px;
						color: $divider;
					}
				}
				 
			}

			&.checkbox label, &.radio label {
				display: inline-block;
				cursor: pointer;
				color: $primary;
				position: relative;
				padding: 5px 15 px 5px 51px;
				font-size: 1em;
				border-radius: 3px;
				transition: all .3s ease;

				&:hover {
					background: rgba($light-primary, 1);
				}

				&:before {
					content: "";
					display: inline-block;
					width: 17px;
					height: 17px;
					position: absolute;
					left: 15px;
					border-radius:  50%;
					background: none;
					border: $border solid $primary;

				}
			}

			&.error {
				label {
					color: $error;

					&:hover {
						background: rgba($error, .2);
					}
					&:before {
						border: $border solid $error;
					}
				}
			}

			&.radio {
				input[type="radio"] {
					display: none;

					&:checked + label:before {
						display: none;
					}

					&:checked + label {
						padding: 5px 15px;
						background: $primary;
						border-radius: $border;
						color: $white;
					}
				}
			}

			&.checkbox {
				label:before {
					border-radius: 3px;
				}
				
				input[type="checkbox"] {
					display: none;

					&:checked + label:before {
						display: none;

					}

					&:checked + label {
						padding: 5px 15px;
						background: $white;
						color: $white;
					}
				}

			}
		}

		input[type="submit"] {
			background: $primary;
			border-radius: 1px;
			border: $border solid $white;
			color: #fff;
			cursor: pointer;
			display: inline-block;
			padding: 15 px;
			width: 100%;
			font-family: $font-family;
			font-size: 16px;
			transition: all .3s ease;

			&:hover {
				background: #1976d2;
			}

		}
	}
}